app-product-list {
    margin-right: 370px;
    width: 100%;
}

app-cart {
    height: 96vh;
    margin: 0 20px;
    position: fixed;
    right: 0;
    width: 350px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
